/* Add CSS Styling */
.p {
    background-color: pink;
    font-family: 'Verdana', 'DejaVu Sans', serif;
}
#div1 {
    color: blue;
    font-size: 36px;
}

#div2 {
    background-color: green;
    font-size: 24px;
    font-weight: bold;
}

.p.p2 {
    font-size: 24px;
}